
// Site colours
// -----------------------------------------------------------------------------
$color--primary:       #014B4E;
$color--primary-trans: rgba($color--primary, 0.7);
$color--secondary:     #266C6C;
$color--highlight:     #c0edef;
$color--light:         #e1e6e1;
$color--dark:          #031625;


// Messaging colours
// -----------------------------------------------------------------------------
$color--info:    #39c;
$color--success: #088800;
$color--error:   #c30;


//Font families
// -----------------------------------------------------------------------------
$SkyRegular: 'SkyRegular', Arial, Verdana, sans-serif;
$SkyMedium: 'SkyMedium', Arial, Verdana, sans-serif;
$SkyBold: 'SkyBold', 'Arial Bold', Arial, Verdana, sans-serif;
$skycons: 'Skycons';


// Animation times
// -----------------------------------------------------------------------------
$dur: 0.4s;
$easeOut: cubic-bezier(.5,-1.25,.56,1.64);


// Site widths
// -----------------------------------------------------------------------------
$s-start:    550px!default;
$m-start:    750px!default;
$l-start:    1000px!default;
$xl-start:   1200px!default;
$site-width: 1400px!default;
